.roboto {
    font-family: 'Roboto Slab', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 800;
}

.heading {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid rgba(191, 191, 191, 0.4);
    cursor: text;
}
